### My additional ignores ###
/[Rr]esources/
/*.wiki
/[Ss]etups/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VisualStudioCode ###
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide